.layout{
  height: 100vh;
  box-sizing: border-box;
}
.content {
  height: calc(100% - 120px);
}
.bottom {
  box-sizing: border-box;
  height: 120px;
  flex: 0;
  border-top: solid 1px var(--adm-color-border);
  background-color: var(--adm-color-white);
}