.box{
  width: 90%;
  height: 80px;
  line-height: 80px;
  margin: auto;
  display: flex;
  border-radius: 40px;
  box-shadow: 0px -10px 20px -10px var(--adm-color-primary);
  .left{
    border-right: none;
    flex: 1;
    background-color: var(--adm-color-text-light-solid);
    border-radius: 40px 0 0 40px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    color: var(--adm-color-primary);
    font-size: var(--adm-font-size-6);
    .amount{
      font-size: var(--adm-font-size-10);
    }
  }
  
  .right{
    border-left: none;
    width: 140px;
    background-color: var(--adm-color-primary);
    border-radius: 0 40px 40px 0;
    color: var(--adm-color-text-light-solid);
    font-size: 28px;
    padding: 0 10px;
    text-align: center;
    font-weight: bold;
    
  }
}

