.container{
  height: 100%;
  .item{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--adm-font-size-10);
  }
  .itemSolid{
    background-color: var(--adm-color-primary);
    color: var(--adm-color-white);
  }
  .itemOutline{
    background-color: var(--adm-color-white);
    color: var(--adm-color-primary);
    border: 1px solid var(--adm-color-primary);
  }
}
