.container{
  background-color: var(--adm-color-box);
  height: 100vh;
  .nav{
    background-color: var(--adm-color-white);
    height: 80px;
  }
  .notice{
    margin-top: 10px;
    height: 60px;
  }
  .content{
    margin-top: 10px;
    height: calc(100% - 160px);
    background-color: var(--adm-color-white);
  }
  .box{
    padding: 20px;
  }
}