

.container {
  height: 100%;
  background-color: var(--adm-color-white);
  display: flex;
  flex-direction: column;
  position: relative;
  [data-prefers-color='dark'] & {
    background-color: unset;
  }
}
.top{
  box-sizing: border-box;
  width: 100%;
}
.content{
  height: calc(100vh - 150px );
  display: inline-flex;
  justify-content: flex-start;
  align-items: stretch;
  // background-color: red;
  box-sizing: border-box;
  .side {
    flex: none;
    background-color: var(--adm-color-fill-content);
  }
  .main {
    flex: auto;
    padding: 0 16px 0px;
    overflow-y: scroll;
    display: table-cell;
    h2 {
      margin: 0;
      padding: 12px 0;
    }
  }
}
.bottom{
  box-sizing: border-box;
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 20px;
  padding: 10px;
}